<footer>
    <a href="https://modry.podnika.cz" target="_blank">
        &copy; {{ "now"|date('Y') }} Daniel Modrý
    </a>

    <a href="https://www.github.com/modryd" target="_blank">
        <img src="/img/github.png" alt="Github">
    </a>

    <a href="https://www.linkedin.com/in/modry" target="_blank">
        <img src="/img/linkedin.png" alt="LinkedIn">
    </a>

</footer>
