/* Reset styles */
* {
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: inherit;
}
a:visited {
    color: inherit;
}
a:hover {
    text-decoration: none;
}
a.btn {
    color: white;
}

/* General styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
}

/* Navigation styles */
.main-nav {
    background-color: #333;
    padding: 1em;
}

.menu {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

li.menu-item {
    color: #fff;
    padding: 0;
    display: block;
    margin: 0 1em;
    font-weight: bold;
}

li.menu-item a {
    color: #fff;
    padding: 0.5em 1em;
    display: block;
}

li.menu-item.active {
    background-color: #403af2 !important;
    border-color: #403af2 !important;
    border-radius: 5px;
}

/* Form styles */
.form {
    margin: 0 auto;
    margin-top: 10px;
    padding: 1em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.form-group {
    margin-bottom: 1em;
    display: flex;
    flex-direction: column;
}

.form-group label {
    margin-bottom: 0.5em;
    font-weight: bold;
}

.form-group input,
.form-group textarea {
    padding: 0.5em;
    font-size: 1em;
    border: 1px solid #ccc;
    border-radius: 4px;
    width: 100%;
    box-sizing: border-box;
}

.form-group textarea {
    height: 150px;
}

.form-group button {
    padding: 0.75em 1.5em;
    font-size: 1em;
    color: #fff;
    background-color: #007bff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.form-group button:hover {/* General styles */
    background-color: #0056b3;
}

/* Blog content styles */
.blog-content-wrapper {
    max-width: 800px;
    margin: 2em auto;
    padding: 1em;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    padding-bottom: 50px;
}

.blog-content-wrapper .sub-menu::after {
    content: "";
    display: block;
    clear: both;
}

.blog-content-wrapper .sub-menu button{
    margin-right: 10px;
    float: left;
}

.blog-content-wrapper h1 {
    text-align: center;
    margin-bottom: 1em;
}

.blog-content-wrapper .blog-post {
    display: block;
    margin-bottom: 2em;
    padding: 1em;
    border-bottom: 1px solid #ddd;
}

.blog-content-wrapper .blog-post:hover {
    background-color: #f9f9f9;
}


.blog-content-wrapper .blog-post h2 {
    margin-top: 0;
    color: #333;
}

.blog-content-wrapper .blog-post p {
    color: #666;
}

.blog-content-wrapper .blog-post small {
    color: #999;
}

.blog-content-wrapper .post-content {
    margin-top: 1em;
}

/* Pagination styles */
.pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
    list-style: none;
    padding: 0;
}

.pagination li {
    margin: 0 5px;
}

.pagination span {
    display: block;
    margin-right: 3px;
    text-decoration: none;
    color: #007bff;
    border: 1px solid #ddd;
    border-radius: 5px;
    transition: background-color 0.3s, color 0.3s;
    position: relative;
}

.pagination span a {
    padding: 10px 15px;
    width: 100%;
    height: 100%;
    display: block;
}


.pagination span:hover {
    background-color: #007bff;
    color: #fff;
}

.pagination .current {
    background-color: #007bff;
    color: #fff;
    border-color: #007bff;
    padding: 10px 15px;
    display: block;
}

.pagination .disabled span {
    color: #6c757d;
    pointer-events: none;
    background-color: #fff;
    border-color: #ddd;
}

/* Home page style */
#home-image {
    width: 100%;
}
#home-image:hover {
    cursor: pointer;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    display: block;
    width: 100%;
    z-index: 1000;
    object-fit: contain;
}

.modal-content, .close {
    animation-name: zoom;
    animation-duration: 0.6s;
}

@keyframes zoom {
    from {transform: scale(0)}
    to {transform: scale(1)}
}

.close {
    position: fixed;
    width: 40px;
    text-align: center;
    top: 15px;
    right: 35px;
    color: #fff;
    background-color: black;
    z-index: 1001;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

/* Footer styles */
footer {
    background-color: #333;
    color: #fff;
    font-size: 24px;
    text-align: center;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

footer img {
    border-radius: 8px;
    margin-left: 8px;
}
