{% extends 'base.html.twig' %}

{% block title %}Blog Home{% endblock %}

{% block body %}

<div class="blog-content-wrapper">
    <h1>Home</h1>
    <img src='/home.jpg' style='width: 100%' />
</div>
{% endblock %}